<div class="container ww-wedding-event">
    <h2 class="h1 text-center pb-3 ww-title" style="font-family: 'Noto Serif KR', serif;">Chúng tôi xin trân trọng kính mời</h2>
    <div class="col text-center mb-5">
        <h6 style="font-family: 'Noto Serif KR', serif;">
            1463<br>
            (Kết hôn vào ngày thứ 1463 kể từ ngày gặp nhau = 4 năm + 1 ngày)
        </h6>
    </div>
    <div class="row">
        <div class="col-md-7 col-sm-12">
            <div class="my-3">
                <div class="h4">Lễ cưới</div>
                <ul>
                    <li>
                        <i class="text-muted fas fa-map-marker-alt"></i>
                        <span class="pl-2 text-muted">Tầng 23, Centum Science Park, Woo-dong, Haeundae, Busan</span>
                    </li>
                    <li class="pt-2">
                        <i class="text-muted far fa-calendar-alt"></i>
                        <span class="pl-2 text-muted">18 tháng 5 năm 2019, 2:30 chiều</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-5 col-sm-12">
            <div class="my-3">
                <img alt="Wedding Party" class="img-fluid" src="../images/wedding-party.jpg"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 col-sm-12">
            <div class="my-3">
                <div class="h4">Tiệc cưới</div>
                <ul>
                    <li>
                        <i class="text-muted fas fa-map-marker-alt "></i>
                        <span class="pl-2 text-muted">The Party Centum, Tầng hầm 1, Centum Science Park, Woo-dong, Haeundae, Busan</span>
                    </li>
                    <li class="pt-2">
                        <i class="text-muted far fa-calendar-alt "></i>
                        <span class="pl-2 text-muted">18 tháng 5 năm 2019, 2:30 chiều - 4:30 chiều</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-5 col-sm-12">
            <div class="my-3"><img alt="Reception" class="img-fluid" src="../images/reception.jpg"/></div>
        </div>
    </div>
</div>
